body{
  font-style: Montserrat;
  background-color:#EAEAEA;
}
.attend-img{
  margin-top: 40px;
  width: 8%;
}
.ro-img{
  margin-top: 20px;
  width: 5%:
}
.check1{
  margin-top: auto;
 text-align: center;
}
.mark1{
  margin-top: auto;
 text-align: center;
}
.col1{
  text-align: center;
  margin-left: 600px;
}
.check-button{
  text-align: center;
  margin-top: 20px;
}
.mark-button{
  margin-left: 600px;
}
h4{
  margin-top: 20px;
}
